<!doctype html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Josefin Slab">
  <title>Hello from Flask</title>
  <style>
  body {
        font-family: 'Josefin Slab', serif;
        font-size: 18px;
      }
  a {  
 		text-decoration:none;  
	}      
  </style>
  </head>

  <body>
  <h1>Hello my friend</h1>
  <h2>For now, you can generate queries by artist</h2>
  <h3>
  <ul>
  	<li>artist_name</li>
  	<ul>
  		<li><a href="http://localhost:5000/api?artist_name=Mansun">http://localhost:5000/api?artist_name=Mansun</a></li>
  	</ul>
  	<li>musicbrainz_artist</li>
  	<ul>
  		<li><a href="http://localhost:5000/api?musicbrainz_artist=a8be3422-d905-42c9-90b6-90ee45e3e938">http://localhost:5000/api?musicbrainz_artist=a8be3422-d905-42c9-90b6-90ee45e3e938</a></li>
  	</ul>
  	<li>musicxmatch_artist</li>
  	<ul>
  		<li><a href="http://localhost:5000/api?musixmatch_artist=6988">http://localhost:5000/api?musixmatch_artist=6988</a></li>
  	</ul>
  	<li>spotify_artist</li>
  	<ul>
  		<li><a href="http://localhost:5000/api?spotify_artist=7rqRuB0wgUaStDN73PlV4U">http://localhost:5000/api?spotify_artist=7rqRuB0wgUaStDN73PlV4U</a></li>
    </ul>
    <li>isrc</li>
    <ul>
      <li><a href="http://localhost:5000/api?isrc=GBAYE0000392">http://localhost:5000/api?isrc=GBAYE0000392</a></li>
  	</ul>
  </ul>
  </h3>
  </body>
</html>